<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="symphony.configuration">
            <command
                  commandId="com.ibm.hannover.development.command.symphony"
                  icon="icons/symphony32.ico"
                  label="Symphony Configuration"
                  style="push"
                  tooltip="Symphony Configuration">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="com.ibm.hannover.development.command.hannover"
                  icon="icons/notes32.ico"
                  label="Hannnover Configuration"
                  style="push"
                  tooltip="Hannnover Configuration">
            </command>
            <command
                  commandId="com.ibm.hannover.development.command.standalone"
                  icon="icons/wordProcessing.png"
                  label="Standalone Configuration"
                  style="push"
                  tooltip="Standalone Configuration">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.ibm.hannover.development.command.reset"
                  icon="icons/eclipse32.png"
                  label="Reset"
                  style="push"
                  tooltip="Reset">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ibm.symphony.development.tools.category"
            defaultHandler="com.ibm.hannover.development.tools.commands.SymphonyHandler"
            id="com.ibm.hannover.development.command.symphony"
            name="Symphony Configuration">
      </command>
      <command
            categoryId="com.ibm.symphony.development.tools.category"
            defaultHandler="com.ibm.hannover.development.tools.commands.HannoverHandler"
            id="com.ibm.hannover.development.command.hannover"
            name="Hannover Configuration">
      </command>
      <command
            categoryId="com.ibm.symphony.development.tools.category"
            defaultHandler="com.ibm.hannover.development.tools.commands.StandaloneHandler"
            id="com.ibm.hannover.development.command.standalone"
            name="Standalone Configuration">
      </command>
      <command
            categoryId="com.ibm.symphony.development.tools.category"
            defaultHandler="com.ibm.hannover.development.tools.commands.ResetCommand"
            id="com.ibm.hannover.development.command.reset"
            name="Reset">
      </command>
      <category
            description="The category of Lotus Symphony Developement"
            id="com.ibm.symphony.development.tools.category"
            name="Lotus Symphony Developement">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ibm.hannover.development.tools.preferences.VMPreferencePage"
            id="com.ibm.hannover.development.tools.preferences.VMPreferencePage"
            name="Symphony Dev Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ibm.hannover.development.tools.preferences.VMPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
