<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.touchpoints">
      <touchpoint
            class="com.example.p2.touchpoint.DesktopTouchpoint"
            type="com.example.p2.touchpoint.desktop"
            version="1.0.0">
      </touchpoint>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="com.example.p2.touchpoint.actions.CreateDesktopAction"
            name="createDesktop"
            touchpointType="com.example.p2.touchpoint.desktop"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="com.example.p2.touchpoint.actions.DeleteDesktopAction"
            name="deleteDesktop"
            touchpointType="com.example.p2.touchpoint.desktop"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>

</plugin>
