<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="rss" name="RSS URL" schema="schema/rss.exsd"/>
   <extension-point id="provider" name="PostProvider" schema="schema/provider.exsd"/>
   <extension
         id="robot.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="cn.ourpk.robot.internal.RobotApplication">
         </run>
      </application>
   </extension>
</plugin>
