<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="cn.ourpk.robot.rss">
      <item
            description="Allen&apos;s space"
            id="allen"
            url="http://adamant-allen.spaces.live.com/feed.rss">
      </item>
      <item
            description="Sillygan&apos;s blog"
            id="sillygan"
            url="http://blog.tianya.cn/blogger/rss.asp?BlogID=38418">
      </item>
      <item
            description="yyinger&apos;s space"
            id="yyinger"
            url="http://yyingerselina.spaces.live.com/feed.rss">
      </item>
      <item
            description="summer&apos;s space"
            id="summer"
            url="http://leesummerlx.spaces.live.com/feed.rss">
      </item>
      <item
            description="Lou Ting&apos;s space"
            id="ting"
            url="http://houhuanyuan.spaces.live.com/feed.rss">
      </item>
      <item
            description="HuGuo&apos;s space"
            id="huguo"
            url="http://wungguo.spaces.live.com/feed.rss">
      </item>
      <item
            description="Hu Guo&apos;s QQ Zone"
            id="huoguo2"
            url="http://feeds.qzone.qq.com/cgi-bin/cgi_rss_out?uin=1909343">
      </item>
      <item
            description="Tong Yue&apos;s space"
            id="hongwei"
            url="http://easythought.spaces.live.com/feed.rss">
      </item>
      <item
            description="Batt&apos;s blog"
            id="linx"
            url="http://blog.tianya.cn/blogger/rss.asp?BlogID=478408">
      </item>
   </extension>

</plugin>
